compositions/src/main/resources/DiscountService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://ca.polymtl.gigl.casi.jaxws-manual-composition" name="DiscountService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://ca.polymtl.gigl.casi.jaxws-manual-composition"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ca.polymtl.gigl.casi.jaxws-manual-composition" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="lookupCoupon" type="tns:lookupCoupon"/>

      <xs:element name="lookupCouponResponse" type="tns:lookupCouponResponse"/>

      <xs:complexType name="lookupCoupon">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="lookupCouponResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:discount" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="discount">
        <xs:sequence>
          <xs:element name="label" type="xs:string" minOccurs="0"/>
          <xs:element name="percentOff" type="xs:decimal" minOccurs="0"/>
          <xs:element name="currencyOff" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="lookupCoupon">
    <part name="parameters" element="tns:lookupCoupon"/>
  </message>
  <message name="lookupCouponResponse">
    <part name="parameters" element="tns:lookupCouponResponse"/>
  </message>
  <portType name="DiscountCalculator">
    <operation name="lookupCoupon">
      <input wsam:Action="http://ca.polymtl.gigl.casi.jaxws-manual-composition/DiscountCalculator/lookupCouponRequest" message="tns:lookupCoupon"/>
      <output wsam:Action="http://ca.polymtl.gigl.casi.jaxws-manual-composition/DiscountCalculator/lookupCouponResponse" message="tns:lookupCouponResponse"/>
    </operation>
  </portType>
  <binding name="DiscountCalculatorPortBinding" type="tns:DiscountCalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="lookupCoupon">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DiscountService">
    <port name="DiscountCalculatorPort" binding="tns:DiscountCalculatorPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

