compositions/src/main/resources/EventReportingService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://ca.polymtl.gigl.casi.jaxws-manual-composition"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ca.polymtl.gigl.casi.jaxws-manual-composition">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ca.polymtl.gigl.casi.jaxws-manual-composition" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="reportEvent" type="tns:reportEvent"/>

      <xs:element name="reportEventResponse" type="tns:reportEventResponse"/>

      <xs:complexType name="reportEvent">
        <xs:sequence>
          <xs:element name="moduleId" type="xs:string" minOccurs="0"/>
          <xs:element name="event" type="xs:string" minOccurs="0"/>
          <xs:element name="timeStamp" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="reportEventResponse">
        <xs:sequence/>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="reportEvent">
    <part name="parameters" element="tns:reportEvent"/>
  </message>
  <message name="reportEventResponse">
    <part name="parameters" element="tns:reportEventResponse"/>
  </message>
  <portType name="EventReportingService">
    <operation name="reportEvent">
      <input ns1:Action="http://ca.polymtl.gigl.casi.jaxws-manual-composition/EventReportingService/reportEventRequest" message="tns:reportEvent" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://ca.polymtl.gigl.casi.jaxws-manual-composition/EventReportingService/reportEventResponse" message="tns:reportEventResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

