compositions/src/main/resources/ShippingService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://ca.polymtl.gigl.casi.jaxws-manual-composition"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ca.polymtl.gigl.casi.jaxws-manual-composition">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ca.polymtl.gigl.casi.jaxws-manual-composition" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="estimate" type="tns:estimate"/>

      <xs:element name="estimateResponse" type="tns:estimateResponse"/>

      <xs:complexType name="estimate">
        <xs:sequence>
          <xs:element name="address" type="tns:address" minOccurs="0"/>
          <xs:element name="weight" type="xs:float"/>
          <xs:element name="size" type="xs:float"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="address">
        <xs:sequence>
          <xs:element name="street" type="xs:string" minOccurs="0"/>
          <xs:element name="streetNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="province" type="xs:string" minOccurs="0"/>
          <xs:element name="country" type="xs:string" minOccurs="0"/>
          <xs:element name="postalCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="estimateResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="estimate">
    <part name="parameters" element="tns:estimate"/>
  </message>
  <message name="estimateResponse">
    <part name="parameters" element="tns:estimateResponse"/>
  </message>
  <portType name="ShippingService">
    <operation name="estimate">
      <input ns1:Action="http://ca.polymtl.gigl.casi.jaxws-manual-composition/ShippingService/estimateRequest" message="tns:estimate" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://ca.polymtl.gigl.casi.jaxws-manual-composition/ShippingService/estimateResponse" message="tns:estimateResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

